body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.dashboard {
    display: flex;
    background-color: #E5E5E5;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.side-bar {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    background-color: #990D81;
    width: 15vw;
    max-width: 300px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: auto;
}

.sidebar-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 15px;
}


.dashboard-content {
    width: 100%;
}

.stats-container {
    display: flex;
    flex-direction: row;
    grid-gap: 25px;
}

.stats-card {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
    grid-gap: 10px;
    margin: 25px;

}

.icon-container {
    width: 60px;
    height: 60px;
    background-color: #2F49D1;
    opacity: 10%;
    border-radius: 50%;
}

.stat-number {
    color: #171717;
    font-size: 1.8rem;
    font-weight: 700;
}

.stat-description {
    color: #AAAAAA
}

.stat-duration {
    color: #BDBDBD
}

.stats-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-month-trend {
    display: flex;
    grid-gap: 5px;
    flex-direction: row;
    margin-top: 10px;
}


.sidebar-nav-selected {
    display: flex;
    grid-gap: 10px;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    align-items: center;
    height: 35px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-right: #FFFFFF 3px solid;
    color: #FFFFFF;
}

.sidebar-nav-selector {
    display: flex;
    grid-gap: 10px;
    color: #FFFFFF;
    width: 80%;
    margin: auto;
}

.sidebar-nav-text {
    opacity: 0.6;

}

.data-charts {
    display: flex;
    grid-gap: 25px;
    margin-left: 25px;
}

.requests-table {
    background-color: #FFFFFF;
    border-radius: 12px;
    margin-left: 20px;
    width: 750px;
}

.requests-heading {
    color: #141414;
    font-weight: 600;
}

.table-heading {
    color: #8392AB;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}

.name-container {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
}

.account-name-container {
    display: flex;
    flex-direction: column;
}

.request {
    display: flex;
    flex-direction: row;
    grid-gap: 75px;
    border-top: #F5F5F5 solid 1px;
    border-bottom: #F5F5F5 solid 1px;
    padding: 5px;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.table-heading-container {
    display: flex;
    flex-direction: row;
    grid-gap: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.request-user-name {
    color: #141414;
    font-weight: 600;
    font-size: 16px;
}

.request-user-email {
    color: #8392AB;
    font-size: 14px;
}

.request-user-type {
    color: #8392AB;
    font-size: 14px;
}

.request-user-status {
    text-align: center;
    padding: 5px;
    font-size: 12px;
}

#pending {
    color: #FFB648;
    background-color: rgba(255, 172, 50, 0.1);
    border-radius: 10px;
}

.request-date {
    color: #990D81;
}

.arrow {
    color: #990D81;
    background-color: rgba(80, 159, 239, 0.5);
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    width: 80%;
    height: 65px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
}

.user-info-container {
    display: flex;
    flex-direction: column;
}

.user-info-name{
    color: #FFFFFF;
    font-size: 14px;
}

.user-info-role{
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.user-info-picure{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    align-items: center;
}

.data-chart-1 {
    border-radius: 10px;
    background-color: #FFFFFF;
}

.data-chart-2 {
    background: #990D81;
    border-radius: 12px;
}